{{>search}}
<div class='feature'>
  <h3>Album Results</h3>
  <div class='featured-container'>
    {{#each albums}}
      <div class='featured-item'>
        <div class='featured-img'>
          <a href='/tracks/{{id}}'>
            {{#if images.0.url}}
              <img src='{{images.0.url}}' alt='album for {{name}}' />
            {{else}}
              <img src='/images/album_placeholder.png' alt='{{name}}' />
            {{/if}}
          </a>
        </div>
        <div class='featured-name'><a href='/tracks/{{id}}'>{{name}}</a></div>
      </div>
    {{/each}}
  </div>
</div>

<div class='feature'>
  <h3>New Releases</h3>
  <div class='featured-container'>
    {{#each releases}}
      <div class='featured-item'>
        <div class='featured-img'>
          <a href='/tracks/{{id}}'>
            {{#if images.0.url}}
              <img src='{{images.0.url}}' alt='album for {{name}}' />
            {{else}}
              <img src='/images/album_placeholder.png' alt='{{name}}' />
            {{/if}}
          </a>
        </div>
        <div class='featured-name'><a href='/tracks/{{id}}'>{{name}}</a></div>
      </div>
    {{/each}}
  </div>
</div>